export(baseURL)
export(checkForLevels)
export(findData)
export(scbGetData)
export(scbGetDims)
export(scbGetLevels)
export(scbGetMetadata)
import(RJSONIO)
import(data.table)
import(httr)
import(reshape2)
import(stringr)
